doctype html
html
    head
        meta(charset="utf-8")
        title
        link(href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,800" rel="stylesheet")
        link(href="css/normalize.css" rel="stylesheet")
        link(href="css/style.css" rel="stylesheet")
        
    body
        header.page-header
            h1.visually-hidden Pink - взгляните на жизнь иначе
            .main-nav__wrapper
                nav.main-nav.main-nav--closed.main-nav--nojs
                    .page-header__logo
                        a(href="#")
                            img(src="img/logo-pink-white-mobile.svg" alt="Pink")
                    button.main-nav__toggle(type="button") Открыть меню
                    ul.main-nav__items
                        li.main-nav__item.main-nav__item--active
                            a Главная
                        li.main-nav__item 
                            a(href="#") Фотографии
                        li.main-nav__item 
                            a(href="#") Конкурс
                        li.main-nav__item 
                            a(href="#") HTML Academy
        section.intro
            .intro__header
                h2.intro__title Взгляните на жизнь иначе!
            .intro__download 
                a.intro__download-link(href="#") Скачать приложение
                .intro__download-app
                    a.intro__download-apple(href="#") 
                        img(src="img/logo-apple.svg" alt="apple")
                    a.intro__download-android(href="#") 
                        img(src="img/logo-android.svg" alt="android")
                    a.intro__download-windows(href="#") 
                        img(src="img/logo-microsoft.svg" alt="windows")
                p.intro__legend Доступно для iPhone, iPad, Android, Windows Phone, OS X, Windows 8
        .information
            p.information__question Устали от серости мегаполиса?
            p.information__answer Нам есть, что вам  предложить!
            .information__wrapper
                .information__plus.plus
                    .plus__wrapper
                        h3.information__title Поднимает настроение
                        p.information__desc Приложение позволит вам победить осеннюю хандру и депрессию буквально в несколько кликов!
                    .plus__wrapper
                        h3.information__title Меняет мир вокруг
                        p.information__desc Сделайте снимок и украсьте его смайликом или текстовой подписью, чтобы усилить эффект
                    .plus__wrapper
                        h3.information__title Заводит новых друзей
                        p.information__desc  Ставьте лайки, комментируте, делитесь фотографиями с друзьями и заводите новых
                .information__image-wrapper
                    .information__image-gray
                    .information__image-pink
                    .information__image-hello
        section.diagram
            .diagram__timer 24
            .diagram__wrapper
                h2.diagram__title Эффект #[br] на 24 часа!
                p.diagram__desc Британские ученые провели исследования и доказали, что положительный эффект от использования приложения длится целые сутки!
                a.diagram__original-href(href="#") Узнать больше об исследовании
        section.rewiews
            h2.visually-hidden Отзывы
            img.rewiews__quotes(src="img/icon-quotes.svg")
            div.rewiews__items
                blockquote.rewiews__item.slider__item.rewiews__item--1
                    p #[span "]Это приложение перевернуло мой мир и позволило по-новому взглянуть на привычные серые вещи! А еще я познакомился со своей будущей женой в комментариях к выложенной фотографии!#[span "]
                    cite.rewiews__autor-name Николай Петров
                    p.rewiews__autor-information 25 лет, водитель трамвая
                button.rewiews__btn.rewiews__btn--prev(type="button") Предыдущий отзыв
                button.rewiews__btn.rewiews__btn--next(type="button") Следующий отзыв
        .price
            table.price__items
                tr
                    td
                    td.price__item #[b База] 1,99 USD
                    td.price__item #[img.hit(src="img/bg-hit.png")] #[b Стандарт] 3,99 USD
                    td.price__item #[b Анлим] 9,99 USD
                tr    
                    td.price__item Розовый фильтр
                    td.price__item #[img(src="img/icon-yes.svg")]
                    td.price__item #[img(src="img/icon-yes.svg")]
                    td.price__item #[img(src="img/icon-yes.svg")]
                tr
                    td.item Смайлики
                    td.price__item #[img(src="img/icon-no.svg")]
                    td.price__item #[img(src="img/icon-yes.svg")]
                    td.price__item #[img(src="img/icon-yes.svg")]
                tr 
                    td.item Комментарии
                    td.price__item #[img(src="img/icon-no.svg")]
                    td.price__item #[img(src="img/icon-no.svg")]
                    td.price__item #[img(src="img/icon-yes.svg")]
        .contacts
            h2.contacts__title Остались вопросы? #[br] Свяжитесь с нами!
            .contacts__wrapper
                .contacts__offers
                    b.contacts__offer Звоните:
                    a.contacts__link(href="tel:+78125556666") +7(812)555-66-66
                .contacts__offers.contacts__address
                    b.contacts__offer Приезжайте в гости:
                    a.contacts__link(href="#") ул. Большая  Конюшенная, 19/8
                .contacts__offers
                    b.contacts__offer Пишите:
                    a.contacts__link(href="#") mail@htmlacademy.ru
            iframe.contacts__map(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1998.6951962530793!2d30.320231516096925!3d59.93719978187568!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4696310fed3acb23%3A0xce54128f8838d988!2z0JHQvtC70YzRiNCw0Y8g0JrQvtC90Y7RiNC10L3QvdCw0Y8g0YPQuy4sIDI3LCDQodCw0L3QutGCLdCf0LXRgtC10YDQsdGD0YDQsywgMTkxMTg2!5e0!3m2!1sru!2sru!4v1478731095937" width="100%" height="200" frameborder="0" style="border:0" allowfullscreen>)
        footer.page-footer
            .page-footer__wrapper
                p.page-footer__logo
                    img(src="img/logo-pink-white-mobile.svg" alt="Pink")
                p.page-footer__social
                    span.social-links
                        a.social-link.social-links-tw(href="#") Мы в Твитере!
                        a.social-link.social-links-fb(href="#") Мы в Фейсбуке!
                        a.social-link.social-links-pm(href="#") Мы в ПлэйМаркете!
                p.footer-copyright Разработано #[a.page-footer__copyright-link(href="#") HTML Academy] 
        script(src="js/script.js")
                
            
        
        
        
            
                        
                            