.information {
    .container-fluid();
    
    margin-bottom: 47px;
    
    text-align: center;
    font-size: 24px;
    line-height: 30px;
    font-weight: 400;
    
}

.information__question {
    padding: 0 20px;
}

.information__answer {
    padding: 0 20px 30px;
    margin: 0;
    position: relative;
}

.information__wrapper {
    position: relative;
    padding: 0 20px;
    background: #f2f2f2;
    padding-top: 50px;
}

.information__wrapper::before {
     position: absolute;
     top: 0;
     left: 0;
     content: "";
     width: 100%;
     height: 35px;    
     background: url("../img/bg-triangle-white.svg") 100% 0% no-repeat;
     background-size: 100% 35px;
     
 }


.information__title {
    margin: 0;
    padding: 30px 0 10px;
    
    font-size: 18px;
    line-height: 24px;
    color: #000;
}




.information__desc {
    margin: 0;
    padding: 0;
    
    font-size: 14px;
    line-height: 24px;
    color: #000;
}


.information__image-hello {
    position: relative;
    z-index: 20;
    
    margin: 40px auto 0;
    
    width: 157px;
    height: 320px;
    
    background: url(../img/iphone-screen-mobile@1x.png) no-repeat;
    @media @retina {
        background: url(../img/iphone-screen-mobile@2x.png) no-repeat;
        background-size: 157px auto;
    }
}

@media @tablet-widths {
    .information {
        margin-bottom: 0;
    }
    
    .information__wrapper {
        display: flex;
        
        flex-direction: row-reverse;
        justify-content: space-around;
    }
    
    .information__wrapper::before {
     height: 55px;    
     background-size: 100% 55px; 
    z-index: 10;
 }
    
    .information__plus {  
        width: 50%;
    }
    
    .information__question, .information__answer {
        font-size: 40px;
        line-height: 48px;
        font-weight: 400;
    }
    .information__answer {
        padding: 0 70px 50px;
    }
    
    .plus__wrapper {
        
        text-align: left;
    }
    
    .information__image-hello {  
        margin-top: -50px;
        width: 268px;
        height: 481px;

        background: url(../img/iphone-screen-3-tablet@1x.png) no-repeat;
        @media @retina {
            background: url(../img/iphone-screen-3-tablet@2x.png) no-repeat;
            background-size: 268px auto;
        }
    }
}

@media @desktop-widths {
        
    .information__wrapper {
        padding: 0 130px;
        
        display: flex;
        flex-direction: column;
    }
    
    .information__title {
        padding: 50px 0 10px;
    }
    
    .information__answer {
        padding-bottom: 70px;
    }
    
    
    .information__plus {
        width: 100%;
        order: 2;
        
        display: flex;
        justify-content: space-between;
        flex-flow: row wrap;   
    }
        
    .plus__wrapper {
        width: 24%;
        text-align: center;
    }
    
    .information__wrapper::before {
         height: 95px;    
         background-size: 100% 95px; 
     }
    
    .information__image-wrapper {
        margin-top: -20px;
        display: flex;
        flex-flow: row wrap; 
        justify-content: space-between;

        width: 100%;
    }
    
    .information__image-gray { 
        position: relative;
        margin: 0;
        width: 24%;
        height: 302px;
        
        background: url(../img/iphone-screen-3-desktop@1x.png) no-repeat 50% 0;
        z-index: 20;
        @media @retina {
            background: url(../img/iphone-screen-3-desktop@2x.png) no-repeat 50% 0;
            background-size: 292px auto;
        }
    }
            
    .information__image-pink {
        position: relative;
        z-index: 20;
        margin: 0;
        width: 24%;
        height: 302px;

        background: url(../../img/iphone-screen-2-desktop@1x.png) no-repeat 50% 0;
        @media @retina {
            background: url(../img/iphone-screen-2-desktop@2x.png) no-repeat 50% 0;
            background-size: 292px auto;
        }
    }
    .information__image-hello {  
        position: relative;
        z-index: 20;
        margin: 0;
        width: 24%;
        height: 302px;

        background: url(../../img/iphone-screen-1-desktop@1x.png) no-repeat 50% 0;
        @media @retina {
            background: url(../img/iphone-screen-1-desktop@2x.png) no-repeat 50% 0;
            background-size: 292px auto;
        }
    }
}