.price {
    .container-fluid();
    margin-bottom: 45px;
    
    background: #f2f2f2;
    
    
}

.price__items td:first-child {
    display: none;
}

.price__items tr:first-child {
    
    height: 100px;
    
    background: @color-darkblur;
    
    color: #fff;
}